In [243]:
import pandas as pd

In [244]:
orginal_sports = pd.Series({'arachery':'bhutan','golf':'scotland','sumo':'japan'})

In [245]:
cricket_loving_countries = pd.Series(['australia','india','southa africa'], index =['cricket','cricket','cricket'])

In [246]:
all_countries = orginal_sports.append(cricket_loving_countries)

In [247]:
all_countries

arachery           bhutan
golf             scotland
sumo                japan
cricket         australia
cricket             india
cricket     southa africa
dtype: object

In [248]:
cricket_loving_countries

cricket        australia
cricket            india
cricket    southa africa
dtype: object

In [249]:
all_countries

arachery           bhutan
golf             scotland
sumo                japan
cricket         australia
cricket             india
cricket     southa africa
dtype: object

In [250]:
j=0
for i in all_countries:
    if all_countries.iloc[j] == 'southa africa':
        all_countries.iloc[j] = 'INDIA'
        break
    else:
        j =j+1

In [251]:
import pandas

In [252]:
all_countries

arachery       bhutan
golf         scotland
sumo            japan
cricket     australia
cricket         india
cricket         INDIA
dtype: object

## Data frame

In [253]:
pur1 =pd.Series({'name':'kumar','food':'ice creame','cost':20})
pur2=pd.Series({'name':'mani','food':'noodels','cost':50})
pur3=pd.Series({'name':'satti','food':'meals','cost':35})

In [254]:
df = pd.DataFrame([pur1,pur2,pur3],index =['srore1','store2','store3'])

In [255]:
df

         name        food  cost
srore1  kumar  ice creame    20
store2   mani     noodels    50
store3  satti       meals    35

In [256]:
total = 0
for i in df:
    k =df.loc['srore1','cost']
    print(k)
print(total)

20
20
20
0

In [257]:
df.T # trnaspose rows into columns,columns into rows

          srore1   store2 store3
name       kumar     mani  satti
food  ice creame  noodels  meals
cost          20       50     35

In [258]:
df.T.loc['cost']

srore1    20
store2    50
store3    35
Name: cost, dtype: object

In [259]:
df.T.loc['food']

srore1    ice creame
store2       noodels
store3         meals
Name: food, dtype: object

In [260]:
df['cost']

srore1    20
store2    50
store3    35
Name: cost, dtype: int64

In [261]:
df.loc['srore1']['cost']

20

In [262]:
df.loc[:,['name','cost']]

         name  cost
srore1  kumar    20
store2   mani    50
store3  satti    35

In [263]:
df.drop('srore1')

         name     food  cost
store2   mani  noodels    50
store3  satti    meals    35

In [264]:
copy_df = df.copy()
copy_df

         name        food  cost
srore1  kumar  ice creame    20
store2   mani     noodels    50
store3  satti       meals    35

In [265]:
copy_df.drop('srore1',inplace=True) #inplace of true is used to update a original data
copy_df

         name     food  cost
store2   mani  noodels    50
store3  satti    meals    35

In [266]:
copy_df

         name     food  cost
store2   mani  noodels    50
store3  satti    meals    35

In [267]:
copy_df

         name     food  cost
store2   mani  noodels    50
store3  satti    meals    35

In [268]:
df['location'] = None

In [269]:
df

         name        food  cost location
srore1  kumar  ice creame    20     None
store2   mani     noodels    50     None
store3  satti       meals    35     None

In [270]:
df['state'] = ['ap','tg','delhi']

In [271]:
df

         name        food  cost location  state
srore1  kumar  ice creame    20     None     ap
store2   mani     noodels    50     None     tg
store3  satti       meals    35     None  delhi

In [272]:
df.loc['store3','state']='mumbai'

In [273]:
df

         name        food  cost location   state
srore1  kumar  ice creame    20     None      ap
store2   mani     noodels    50     None      tg
store3  satti       meals    35     None  mumbai

In [274]:
df['state']['store3'] = 'MUMBAI'

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [275]:
df

         name        food  cost location   state
srore1  kumar  ice creame    20     None      ap
store2   mani     noodels    50     None      tg
store3  satti       meals    35     None  MUMBAI

In [276]:
df = pd.read_csv('olympics.csv')

In [277]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,â„– Summer,01 !,02 !,03 !,Total,â„– Winter,01 !,02 !,03 !,Total,â„– Games,01 !,02 !,03 !,Combined total
1,AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
2,AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
3,ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
4,ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
5,AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
6,AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
7,AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
8,AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
9,BahamasÂ (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
10,BahrainÂ (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
11,BarbadosÂ (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
12,BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
13,BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
14,BermudaÂ (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
15,BohemiaÂ (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
16,BotswanaÂ (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
17,BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,British West IndiesÂ (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
19,BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
20,BurundiÂ (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
21,CameroonÂ (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
22,CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,ChileÂ (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
24,ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
25,ColombiaÂ (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
26,Costa RicaÂ (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
27,Ivory CoastÂ (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
28,CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
29,CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Sri LankaÂ (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
119,SudanÂ (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
120,SurinameÂ (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
121,SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
122,SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
123,SyriaÂ (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
124,Chinese TaipeiÂ (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
125,TajikistanÂ (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
126,TanzaniaÂ (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
127,ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
128,TogoÂ (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
129,TongaÂ (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
130,Trinidad and TobagoÂ (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
131,TunisiaÂ (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
132,TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,UgandaÂ (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
134,UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United Arab EmiratesÂ (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
136,United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
137,UruguayÂ (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
138,UzbekistanÂ (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
139,VenezuelaÂ (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
140,VietnamÂ (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
141,Virgin IslandsÂ (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
142,YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
143,Independent Olympic ParticipantsÂ (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
144,ZambiaÂ (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
145,ZimbabweÂ (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
146,Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
147,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [278]:
df = pd.read_csv('olympics.csv',index_col=0,skiprows=1)
df.head()

,â„– Summer,01 !,02 !,03 !,Total,â„– Winter,01 !.1,02 !.1,03 !.1,Total.1,â„– Games,01 !.2,02 !.2,03 !.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [279]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns ={col:'Gold'+col[4:]},inplace = True)
    if col[:2]=='02':
        df.rename(columns ={col:'Silver'+col[4:]},inplace = True)
    if col[:2]=='03':
        df.rename(columns ={col:'Bronze'+col[4:]},inplace = True)
    if col[:1]=='№':
        df.rename(columns ={col:'#'+col[1:]},inplace = True)
df.head()

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [280]:
df['Gold']

AfghanistanÂ (AFG)                                  0
AlgeriaÂ (ALG)                                      5
ArgentinaÂ (ARG)                                   18
ArmeniaÂ (ARM)                                      1
AustralasiaÂ (ANZ) [ANZ]                            3
AustraliaÂ (AUS) [AUS] [Z]                        139
AustriaÂ (AUT)                                     18
AzerbaijanÂ (AZE)                                   6
BahamasÂ (BAH)                                      5
BahrainÂ (BRN)                                      0
BarbadosÂ (BAR) [BAR]                               0
BelarusÂ (BLR)                                     12
BelgiumÂ (BEL)                                     37
BermudaÂ (BER)                                      0
BohemiaÂ (BOH) [BOH] [Z]                            0
BotswanaÂ (BOT)                                     0
BrazilÂ (BRA)                                      23
British West IndiesÂ (BWI) [BWI]                    0
BulgariaÂ (BUL) [H]                                51
BurundiÂ (BDI)                                      1
CameroonÂ (CMR)                                     3
CanadaÂ (CAN)                                      59
ChileÂ (CHI) [I]                                    2
ChinaÂ (CHN) [CHN]                                201
ColombiaÂ (COL)                                     2
Costa RicaÂ (CRC)                                   1
Ivory CoastÂ (CIV) [CIV]                            0
CroatiaÂ (CRO)                                      6
CubaÂ (CUB) [Z]                                    72
CyprusÂ (CYP)                                       0
                                                 ...
Sri LankaÂ (SRI) [SRI]                              0
SudanÂ (SUD)                                        0
SurinameÂ (SUR) [E]                                 1
SwedenÂ (SWE) [Z]                                 143
SwitzerlandÂ (SUI)                                 47
SyriaÂ (SYR)                                        1
Chinese TaipeiÂ (TPE) [TPE] [TPE2]                  2
TajikistanÂ (TJK)                                   0
TanzaniaÂ (TAN) [TAN]                               0
ThailandÂ (THA)                                     7
TogoÂ (TOG)                                         0
TongaÂ (TGA)                                        0
Trinidad and TobagoÂ (TRI) [TRI]                    2
TunisiaÂ (TUN)                                      3
TurkeyÂ (TUR)                                      39
UgandaÂ (UGA)                                       2
UkraineÂ (UKR)                                     33
United Arab EmiratesÂ (UAE)                         1
United StatesÂ (USA) [P] [Q] [R] [Z]              976
UruguayÂ (URU)                                      2
UzbekistanÂ (UZB)                                   5
VenezuelaÂ (VEN)                                    2
VietnamÂ (VIE)                                      0
Virgin IslandsÂ (ISV)                               0
YugoslaviaÂ (YUG) [YUG]                            26
Independent Olympic ParticipantsÂ (IOP) [IOP]       0
ZambiaÂ (ZAM) [ZAM]                                 0
ZimbabweÂ (ZIM) [ZIM]                               3
Mixed teamÂ (ZZX) [ZZX]                             8
Totals                                           4809
Name: Gold, Length: 147, dtype: int64

In [281]:
df[df["Gold"]>5]

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
AustriaÂ (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
AzerbaijanÂ (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
BelarusÂ (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
BelgiumÂ (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
BrazilÂ (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
BulgariaÂ (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
CanadaÂ (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
ChinaÂ (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
CroatiaÂ (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
CubaÂ (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
Czech RepublicÂ (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
CzechoslovakiaÂ (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
DenmarkÂ (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
EgyptÂ (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
EstoniaÂ (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
EthiopiaÂ (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
FinlandÂ (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
FranceÂ (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
GeorgiaÂ (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
GermanyÂ (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
United Team of GermanyÂ (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
East GermanyÂ (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
West GermanyÂ (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
Great BritainÂ (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
GreeceÂ (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
HungaryÂ (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
IndiaÂ (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
IndonesiaÂ (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ItalyÂ (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
JamaicaÂ (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
JapanÂ (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
KazakhstanÂ (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
KenyaÂ (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
North KoreaÂ (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
South KoreaÂ (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
LithuaniaÂ (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
MexicoÂ (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
MoroccoÂ (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
NetherlandsÂ (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
New ZealandÂ (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
NorwayÂ (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
PolandÂ (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
RomaniaÂ (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
RussiaÂ (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
Soviet UnionÂ (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
Unified TeamÂ (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
SlovakiaÂ (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
South AfricaÂ (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
SpainÂ (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
SwedenÂ (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
SwitzerlandÂ (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
ThailandÂ (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
TurkeyÂ (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
UkraineÂ (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
United StatesÂ (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
YugoslaviaÂ (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
Mixed teamÂ (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

## find the countries got atleast 5 gold medals
    -> here just applying boolean masking

In [282]:
df['Gold']>5

AfghanistanÂ (AFG)                               False
AlgeriaÂ (ALG)                                   False
ArgentinaÂ (ARG)                                  True
ArmeniaÂ (ARM)                                   False
AustralasiaÂ (ANZ) [ANZ]                         False
AustraliaÂ (AUS) [AUS] [Z]                        True
AustriaÂ (AUT)                                    True
AzerbaijanÂ (AZE)                                 True
BahamasÂ (BAH)                                   False
BahrainÂ (BRN)                                   False
BarbadosÂ (BAR) [BAR]                            False
BelarusÂ (BLR)                                    True
BelgiumÂ (BEL)                                    True
BermudaÂ (BER)                                   False
BohemiaÂ (BOH) [BOH] [Z]                         False
BotswanaÂ (BOT)                                  False
BrazilÂ (BRA)                                     True
British West IndiesÂ (BWI) [BWI]                 False
BulgariaÂ (BUL) [H]                               True
BurundiÂ (BDI)                                   False
CameroonÂ (CMR)                                  False
CanadaÂ (CAN)                                     True
ChileÂ (CHI) [I]                                 False
ChinaÂ (CHN) [CHN]                                True
ColombiaÂ (COL)                                  False
Costa RicaÂ (CRC)                                False
Ivory CoastÂ (CIV) [CIV]                         False
CroatiaÂ (CRO)                                    True
CubaÂ (CUB) [Z]                                   True
CyprusÂ (CYP)                                    False
                                                 ...
Sri LankaÂ (SRI) [SRI]                           False
SudanÂ (SUD)                                     False
SurinameÂ (SUR) [E]                              False
SwedenÂ (SWE) [Z]                                 True
SwitzerlandÂ (SUI)                                True
SyriaÂ (SYR)                                     False
Chinese TaipeiÂ (TPE) [TPE] [TPE2]               False
TajikistanÂ (TJK)                                False
TanzaniaÂ (TAN) [TAN]                            False
ThailandÂ (THA)                                   True
TogoÂ (TOG)                                      False
TongaÂ (TGA)                                     False
Trinidad and TobagoÂ (TRI) [TRI]                 False
TunisiaÂ (TUN)                                   False
TurkeyÂ (TUR)                                     True
UgandaÂ (UGA)                                    False
UkraineÂ (UKR)                                    True
United Arab EmiratesÂ (UAE)                      False
United StatesÂ (USA) [P] [Q] [R] [Z]              True
UruguayÂ (URU)                                   False
UzbekistanÂ (UZB)                                False
VenezuelaÂ (VEN)                                 False
VietnamÂ (VIE)                                   False
Virgin IslandsÂ (ISV)                            False
YugoslaviaÂ (YUG) [YUG]                           True
Independent Olympic ParticipantsÂ (IOP) [IOP]    False
ZambiaÂ (ZAM) [ZAM]                              False
ZimbabweÂ (ZIM) [ZIM]                            False
Mixed teamÂ (ZZX) [ZZX]                           True
Totals                                            True
Name: Gold, Length: 147, dtype: bool

In [283]:
only_gold = df.where(df['Gold']>0) 
only_gold.head()

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [284]:
only_gold['Gold'].count()

100

In [285]:
only_gold = only_gold.dropna()
only_gold.head()

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0

In [286]:
only_gold = df[df['Gold']>0] # true values are return false values are hide
only_gold.head()

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
ArgentinaÂ (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
ArmeniaÂ (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
AustralasiaÂ (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
AustraliaÂ (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480

In [287]:
len(df[df['Silver.2']>0]) # df[df['Silver.2']>=1]['Silver.2'].count()

126

In [288]:
only_silver = df.where(df['Silver.2']>0)
only_silver.head()

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
AfghanistanÂ (AFG),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0

In [289]:
only_silver = only_silver.dropna()

In [290]:
only_silver

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total
AlgeriaÂ (ALG),12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0
ArgentinaÂ (ARG),23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0
ArmeniaÂ (ARM),5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0
AustralasiaÂ (ANZ) [ANZ],2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0
AustraliaÂ (AUS) [AUS] [Z],25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0
AustriaÂ (AUT),26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0
AzerbaijanÂ (AZE),5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0
BahamasÂ (BAH),15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0
BelarusÂ (BLR),5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0
BelgiumÂ (BEL),25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0
BohemiaÂ (BOH) [BOH] [Z],3.0,0.0,1.0,3.0,4.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,3.0,4.0
BotswanaÂ (BOT),9.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,0.0,1.0
BrazilÂ (BRA),21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0
BulgariaÂ (BUL) [H],19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0
CameroonÂ (CMR),13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0
CanadaÂ (CAN),25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0
ChileÂ (CHI) [I],22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0
ChinaÂ (CHN) [CHN],9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0
ColombiaÂ (COL),18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0
Costa RicaÂ (CRC),14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0
Ivory CoastÂ (CIV) [CIV],12.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,0.0,1.0
CroatiaÂ (CRO),6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0
CubaÂ (CUB) [Z],19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0
CyprusÂ (CYP),9.0,0.0,1.0,0.0,1.0,10.0,0.0,0.0,0.0,0.0,19.0,0.0,1.0,0.0,1.0
Czech RepublicÂ (CZE) [CZE],5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0
CzechoslovakiaÂ (TCH) [TCH],16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0
DenmarkÂ (DEN) [Z],26.0,43.0,68.0,68.0,179.0,13.0,0.0,1.0,0.0,1.0,39.0,43.0,69.0,68.0,180.0
Dominican RepublicÂ (DOM),13.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,2.0,1.0,6.0
EcuadorÂ (ECU),13.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,0.0,2.0
EgyptÂ (EGY) [EGY] [Z],21.0,7.0,9.0,10.0,26.0,1.0,0.0,0.0,0.0,0.0,22.0,7.0,9.0,10.0,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SloveniaÂ (SLO),6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0
South AfricaÂ (RSA),18.0,23.0,26.0,27.0,76.0,6.0,0.0,0.0,0.0,0.0,24.0,23.0,26.0,27.0,76.0
SpainÂ (ESP) [Z],22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0
Sri LankaÂ (SRI) [SRI],16.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,16.0,0.0,2.0,0.0,2.0
SudanÂ (SUD),11.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0,1.0,0.0,1.0
SwedenÂ (SWE) [Z],26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0
SwitzerlandÂ (SUI),27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0
SyriaÂ (SYR),12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0
Chinese TaipeiÂ (TPE) [TPE] [TPE2],13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0
TajikistanÂ (TJK),5.0,0.0,1.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,2.0,3.0
TanzaniaÂ (TAN) [TAN],12.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,2.0,0.0,2.0
ThailandÂ (THA),15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0
TongaÂ (TGA),8.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,9.0,0.0,1.0,0.0,1.0
Trinidad and TobagoÂ (TRI) [TRI],16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0
TunisiaÂ (TUN),13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0
TurkeyÂ (TUR),21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0
UgandaÂ (UGA),14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0
UkraineÂ (UKR),5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0
United StatesÂ (USA) [P] [Q] [R] [Z],26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0
UruguayÂ (URU),20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0
UzbekistanÂ (UZB),5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0
VenezuelaÂ (VEN),17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0
VietnamÂ (VIE),14.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,2.0,0.0,2.0
Virgin IslandsÂ (ISV),11.0,0.0,1.0,0.0,1.0,7.0,0.0,0.0,0.0,0.0,18.0,0.0,1.0,0.0,1.0
YugoslaviaÂ (YUG) [YUG],16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0
Independent Olympic ParticipantsÂ (IOP) [IOP],1.0,0.0,1.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,3.0
ZambiaÂ (ZAM) [ZAM],12.0,0.0,1.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,12.0,0.0,1.0,1.0,2.0
ZimbabweÂ (ZIM) [ZIM],12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0
Mixed teamÂ (ZZX) [ZZX],3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0
Totals,27.0,4809.0,4775.0,5130.0,14714.0,22.0,959.0,958.0,948.0,2865.0,49.0,5768.0,5733.0,6078.0,17579.0

In [291]:
def ansewr_three():
    atleast = ((df['Gold']>=1) & (df['Gold.1']>=1))
    new_df = df[atleast]
    new_df['change'] = ((new_df['Gold'] - new_df['Gold.1'])/(new_df['Gold.2']))
    max_value = max(new_df['change'])
    mask = new_df['change'] == max_value
    return new_df[mask].index[0]
ansewr_three()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

'BulgariaÂ\xa0(BUL) [H]'

In [292]:
def answ_four():
    df['points'] = (df['Gold.2']*3) + (df['Silver.2']*2)+(df['Bronze.2']*1)
    return df['points'].head()
answ_four()

AfghanistanÂ (AFG)            2
AlgeriaÂ (ALG)               27
ArgentinaÂ (ARG)            130
ArmeniaÂ (ARM)               16
AustralasiaÂ (ANZ) [ANZ]     22
Name: points, dtype: int64

In [293]:
df[(df['Gold']==0) & (df['Gold.1']>0)]  #atleast one gold in winter and no gold in summer

,â„– Summer,Gold,Silver,Bronze,Total,â„– Winter,Gold.1,Silver.1,Bronze.1,Total.1,â„– Games,Gold.2,Silver.2,Bronze.2,Combined total,points
LiechtensteinÂ (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9,15

In [294]:
cf = pd.read_csv('census.csv')

In [295]:
cf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [296]:
cf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [297]:
cf['SUMLEV'].unique()

array([40, 50], dtype=int64)

In [298]:
hf =cf[cf["SUMLEV"]==50]
hf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [299]:
  cf[['SUMLEV','STATE']].head() #if we want to display particular columns so we have to pass in a list formatcf

   SUMLEV  STATE
0      40      1
1      50      1
2      50      1
3      50      1
4      50      1

In [300]:
cf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

## 19 - 09 -2019

In [301]:
cf['STNAME'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [302]:
mask = cf['STNAME']=='Alabama'
cf[mask](['STNAME','CTYNAME'])

TypeError: 'DataFrame' object is not callable

In [ ]:
def five():

In [ ]:
import pandas

In [ ]:
def answer_six():
    return cf[['STNAME','CTYNAME','CENSUS2010POP']]
answer_six()

In [ ]:
import numpy

In [304]:
mask = cf['SUMLEV']==50
cf[mask][['STNAME','CTYNAME','CENSUS2010POP']].sort_values('CENSUS2010POP',ascending = False).head()

          STNAME             CTYNAME  CENSUS2010POP
209   California  Los Angeles County        9818605
624     Illinois         Cook County        5194675
2667       Texas       Harris County        4092459
106      Arizona     Maricopa County        3817117
227   California    San Diego County        3095313

In [309]:
cf.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [308]:
def six():list
    states = (cf['STNAME'].unique())
    mask = cf['SUMLEV']==50
    filter_df = cf[mask][['STNAME','CTYNAME','CENSUS2010POP']]
    mylist= []
    for state in states:
        mask = filter_df['STNAME']==state
        frame = filter_df[mask]
        top3 = frame.sort_values('CENSUS2010POP',ascending = False)[:3]
        mylist.append([sum(top3['CENSUS2010POP']),state])
    mylist.sort(reverse = True)
    result = [item[1] for item in mylist[:3]]
    return result
six()

['California', 'Texas', 'Illinois']

In [318]:
states = list(cf['STNAME'].unique())
states

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [319]:
filter_df = cf[mask][['STNAME','CTYNAME','CENSUS2010POP']]
filter_df.head()

    STNAME         CTYNAME  CENSUS2010POP
1  Alabama  Autauga County          54571
2  Alabama  Baldwin County         182265
3  Alabama  Barbour County          27457
4  Alabama     Bibb County          22915
5  Alabama   Blount County          57322

In [325]:
df = cf[cf['SUMLEV']==50].copy()

In [330]:
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57373,...,1.807375,-1.177622,-1.748766,-2.062535,-1.369970,1.859511,-0.848580,-1.402476,-1.577232,-0.884411

In [327]:
top3_df = pd.DataFrame(columns =['Census'])

In [328]:
top3_df

Empty DataFrame
Columns: [Census]
Index: []

In [334]:
df = cf.copy()
df = df.set_index(['STNAME','CTYNAME'])
df

                              SUMLEV  REGION  DIVISION  STATE  COUNTY  \
STNAME    CTYNAME
Alabama   Alabama                 40       3         6      1       0
          Autauga County          50       3         6      1       1
          Baldwin County          50       3         6      1       3
          Barbour County          50       3         6      1       5
          Bibb County             50       3         6      1       7
          Blount County           50       3         6      1       9
          Bullock County          50       3         6      1      11
          Butler County           50       3         6      1      13
          Calhoun County          50       3         6      1      15
          Chambers County         50       3         6      1      17
          Cherokee County         50       3         6      1      19
          Chilton County          50       3         6      1      21
          Choctaw County          50       3         6      1      23
          Clarke County           50       3         6      1      25
          Clay County             50       3         6      1      27
          Cleburne County         50       3         6      1      29
          Coffee County           50       3         6      1      31
          Colbert County          50       3         6      1      33
          Conecuh County          50       3         6      1      35
          Coosa County            50       3         6      1      37
          Covington County        50       3         6      1      39
          Crenshaw County         50       3         6      1      41
          Cullman County          50       3         6      1      43
          Dale County             50       3         6      1      45
          Dallas County           50       3         6      1      47
          DeKalb County           50       3         6      1      49
          Elmore County           50       3         6      1      51
          Escambia County         50       3         6      1      53
          Etowah County           50       3         6      1      55
          Fayette County          50       3         6      1      57
...                              ...     ...       ...    ...     ...
Wisconsin Washington County       50       2         3     55     131
          Waukesha County         50       2         3     55     133
          Waupaca County          50       2         3     55     135
          Waushara County         50       2         3     55     137
          Winnebago County        50       2         3     55     139
          Wood County             50       2         3     55     141
Wyoming   Wyoming                 40       4         8     56       0
          Albany County           50       4         8     56       1
          Big Horn County         50       4         8     56       3
          Campbell County         50       4         8     56       5
          Carbon County           50       4         8     56       7
          Converse County         50       4         8     56       9
          Crook County            50       4         8     56      11
          Fremont County          50       4         8     56      13
          Goshen County           50       4         8     56      15
          Hot Springs County      50       4         8     56      17
          Johnson County          50       4         8     56      19
          Laramie County          50       4         8     56      21
          Lincoln County          50       4         8     56      23
          Natrona County          50       4         8     56      25
          Niobrara County         50       4         8     56      27
          Park County             50       4         8     56      29
          Platte County           50       4         8     56      31
          Sheridan County         50       4         8     56      33
          Sublette County         50       4         8     56      35
          Sweetwater County       50       4         8     56      37
          Teton County            50       4         8     56      39
          Uinta County            50       4         8     56      41
          Washakie County         50       4         8     56      43
          Weston County           50       4         8     56      45

                              CENSUS2010POP  ESTIMATESBASE2010  \
STNAME    CTYNAME
Alabama   Alabama                   4779736            4780127
          Autauga County              54571              54571
          Baldwin County             182265             182265
          Barbour County              27457              27457
          Bibb County                 22915              22919
          Blount County               57322              57322
          Bullock County              10914              10915
          Butler County               20947              20946
          Calhoun County             118572             118586
          Chambers County             34215              34170
          Cherokee County             25989              25986
          Chilton County              43643              43631
          Choctaw County              13859              13858
          Clarke County               25833              25840
          Clay County                 13932              13932
          Cleburne County             14972              14972
          Coffee County               49948              49948
          Colbert County              54428              54428
          Conecuh County              13228              13228
          Coosa County                11539              11758
          Covington County            37765              37765
          Crenshaw County             13906              13906
          Cullman County              80406              80410
          Dale County                 50251              50251
          Dallas County               43820              43820
          DeKalb County               71109              71115
          Elmore County               79303              79296
          Escambia County             38319              38319
          Etowah County              104430             104427
          Fayette County              17241              17241
...                                     ...                ...
Wisconsin Washington County          131887             131885
          Waukesha County            389891             389938
          Waupaca County              52410              52410
          Waushara County             24496              24496
          Winnebago County           166994             166994
          Wood County                 74749              74749
Wyoming   Wyoming                    563626             563767
          Albany County               36299              36299
          Big Horn County             11668              11668
          Campbell County             46133              46133
          Carbon County               15885              15885
          Converse County             13833              13833
          Crook County                 7083               7083
          Fremont County              40123              40123
          Goshen County               13249              13247
          Hot Springs County           4812               4812
          Johnson County               8569               8569
          Laramie County              91738              91881
          Lincoln County              18106              18106
          Natrona County              75450              75450
          Niobrara County              2484               2484
          Park County                 28205              28205
          Platte County                8667               8667
          Sheridan County             29116              29116
          Sublette County             10247              10247
          Sweetwater County           43806              43806
          Teton County                21294              21294
          Uinta County                21118              21118
          Washakie County              8533               8533
          Weston County                7208               7208

                              POPESTIMATE2010  POPESTIMATE2011  \
STNAME    CTYNAME
Alabama   Alabama                     4785161          4801108
          Autauga County                54660            55253
          Baldwin County               183193           186659
          Barbour County                27341            27226
          Bibb County                   22861            22733
          Blount County                 57373            57711
          Bullock County                10887            10629
          Butler County                 20944            20673
          Calhoun County               118437           117768
          Chambers County               34098            33993
          Cherokee County               25976            26080
          Chilton County                43665            43739
          Choctaw County                13841            13593
          Clarke County                 25767            25570
          Clay County                   13880            13670
          Cleburne County               14973            14971
          Coffee County                 50177            50448
          Colbert County                54514            54443
          Conecuh County                13208            13121
          Coosa County                  11758            11348
          Covington County              37796            38060
          Crenshaw County               13853            13896
          Cullman County                80473            80469
          Dale County                   50358            50109
          Dallas County                 43803            43178
          DeKalb County                 71142            71387
          Elmore County                 79465            80012
          Escambia County               38309            38213
          Etowah County                104442           104236
          Fayette County                17231            17062
...                                       ...              ...
Wisconsin Washington County            131967           132225
          Waukesha County              390076           390808
          Waupaca County                52422            52342
          Waushara County               24506            24581
          Winnebago County             167059           167630
          Wood County                   74807            74647
Wyoming   Wyoming                      564516           567768
          Albany County                 36428            36908
          Big Horn County               11672            11745
          Campbell County               46244            46600
          Carbon County                 15837            15817
          Converse County               13826            13728
          Crook County                   7114             7129
          Fremont County                40222            40591
          Goshen County                 13408            13597
          Hot Springs County             4813             4818
          Johnson County                 8581             8636
          Laramie County                92271            92663
          Lincoln County                18091            18022
          Natrona County                75472            76420
          Niobrara County                2492             2485
          Park County                   28259            28473
          Platte County                  8678             8701
          Sheridan County               29146            29275
          Sublette County               10244            10142
          Sweetwater County             43593            44041
          Teton County                  21297            21482
          Uinta County                  21102            20912
          Washakie County                8545             8469
          Weston County                  7181             7114

                              POPESTIMATE2012  ...  RDOMESTICMIG2011  \
STNAME    CTYNAME                              ...
Alabama   Alabama                     4816089  ...          0.002295
          Autauga County                55175  ...          7.242091
          Baldwin County               190396  ...         14.832960
          Barbour County                27159  ...         -4.728132
          Bibb County                   22642  ...         -5.527043
          Blount County                 57776  ...          1.807375
          Bullock County                10606  ...        -30.953709
          Butler County                 20408  ...        -14.032727
          Calhoun County               117286  ...         -6.155670
          Chambers County               34075  ...         -2.731639
          Cherokee County               26023  ...          6.339327
          Chilton County                43697  ...         -1.372935
          Choctaw County                13543  ...        -15.455274
          Clarke County                 25144  ...         -6.194363
          Clay County                   13456  ...        -10.744102
          Cleburne County               14921  ...         -3.673524
          Coffee County                 51173  ...          0.377640
          Colbert County                54472  ...         -0.073423
          Conecuh County                12996  ...         -4.861559
          Coosa County                  11195  ...        -33.930581
          Covington County              37818  ...          6.696899
          Crenshaw County               13951  ...          1.729792
          Cullman County                80374  ...         -1.404233
          Dale County                   50324  ...        -10.749798
          Dallas County                 42777  ...        -15.635599
          DeKalb County                 70942  ...          0.294677
          Elmore County                 80432  ...          3.235576
          Escambia County               38034  ...         -3.449988
          Etowah County                104235  ...         -1.015919
          Fayette County                16960  ...         -5.015601
...                                       ...  ...               ...
Wisconsin Washington County            132649  ...         -0.794876
          Waukesha County              392710  ...         -0.765799
          Waupaca County                52035  ...          3.111756
          Waushara County               24484  ...          4.930022
          Winnebago County             168717  ...          0.316712
          Wood County                   74384  ...         -4.081523
Wyoming   Wyoming                      577080  ...         -0.381530
          Albany County                 37396  ...          3.708956
          Big Horn County               11785  ...          4.868258
          Campbell County               47881  ...         -2.843479
          Carbon County                 15678  ...         -7.581980
          Converse County               14025  ...        -12.847499
          Crook County                   7148  ...         -1.544618
          Fremont County                41129  ...          2.747083
          Goshen County                 13666  ...         14.293649
          Hot Springs County             4846  ...          3.322604
          Johnson County                 8610  ...          4.995063
          Laramie County                94894  ...         -1.200428
          Lincoln County                17943  ...         -9.802564
          Natrona County                78699  ...          7.189319
          Niobrara County                2475  ...         -0.401849
          Park County                   28863  ...          4.582951
          Platte County                  8732  ...          4.373094
          Sheridan County               29594  ...          0.958559
          Sublette County               10418  ...        -23.741784
          Sweetwater County             45104  ...          1.072643
          Teton County                  21697  ...         -1.589565
          Uinta County                  20989  ...        -17.755986
          Washakie County                8443  ...        -11.637475
          Weston County                  7065  ...        -11.752361

                              RDOMESTICMIG2012  RDOMESTICMIG2013  \
STNAME    CTYNAME
Alabama   Alabama                    -0.193196          0.381066
          Autauga County             -2.915927         -3.012349
          Baldwin County             17.647293         21.845705
          Barbour County             -2.500690         -7.056824
          Bibb County                -5.068871         -6.201001
          Blount County              -1.177622         -1.748766
          Bullock County             -5.180127         -1.130263
          Butler County             -11.684234         -5.655413
          Calhoun County             -4.611706         -5.524649
          Chambers County             3.849092          2.872721
          Cherokee County             1.113180          5.488706
          Chilton County             -2.653369          0.480044
          Choctaw County             -0.737028         -8.766391
          Clarke County             -17.667705         -0.318345
          Clay County               -13.345130          4.902871
          Cleburne County            -5.151880          7.345821
          Coffee County               7.675579        -13.146535
          Colbert County              1.065051          1.762390
          Conecuh County             -7.504690         -6.107224
          Coosa County              -10.291443         -4.313831
          Covington County           -4.612668          0.740271
          Crenshaw County             3.950156         -1.864936
          Cullman County             -1.019628          4.071247
          Dale County                -5.277150        -15.236079
          Dallas County             -11.308243        -16.745678
          DeKalb County              -9.302391         -1.748807
          Elmore County               0.822717          1.760531
          Escambia County            -3.855889         -4.822706
          Etowah County               2.062637         -1.931884
          Fayette County             -0.646640         -3.725937
...                                        ...               ...
Wisconsin Washington County           0.785279         -2.215465
          Waukesha County             2.128860          0.038132
          Waupaca County             -2.241873          6.292687
          Waushara County            -2.404973         -4.097017
          Winnebago County            2.889873          0.833819
          Wood County                -5.019090         -6.901200
Wyoming   Wyoming                     9.636214          4.487115
          Albany County               2.637812         -3.544634
          Big Horn County             2.804930         16.815908
          Campbell County            15.601020         -5.895711
          Carbon County             -13.081441          3.178134
          Converse County            15.493820         19.035533
          Crook County               -4.202564          1.397819
          Fremont County              7.782673         -4.990688
          Goshen County               3.961413         -8.079028
          Hot Springs County          6.208609          3.095336
          Johnson County             -4.058912         -0.812583
          Laramie County             15.547274          4.787847
          Lincoln County            -11.566801         13.564556
          Natrona County             23.066162         24.322042

## Missing values

In [ ]:
lf = pd.read_csv('log.csv')

In [ ]:
lf

In [ ]:
# missing values find by using lf.fillna?

In [ ]:
lf.fillna?

In [ ]:
lf = lf.set_index(['time'])

In [ ]:
lf.head()

In [ ]:
hf =lf.sort_index()
hf.head()

In [ ]:
lf = lf.reset_index()
lf = lf.set_index(['time','user'])
lf

In [ ]:
lf.fillna('hi')

In [ ]:
lf.fillna(method = 'ffill')

In [ ]:
lf.head()

In [ ]:
lf.fillna(method = 'bfill')

In [ ]:
cf.head()